In [2]:
import pandas as pd
df = pd.read_csv('/home/avi/github/Consumer_Complaints.csv')
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Date received</th>
      <th>Product</th>
      <th>Sub-product</th>
      <th>Issue</th>
      <th>Sub-issue</th>
      <th>Consumer complaint narrative</th>
      <th>Company public response</th>
      <th>Company</th>
      <th>State</th>
      <th>ZIP code</th>
      <th>Tags</th>
      <th>Consumer consent provided?</th>
      <th>Submitted via</th>
      <th>Date sent to company</th>
      <th>Company response to consumer</th>
      <th>Timely response?</th>
      <th>Consumer disputed?</th>
      <th>Complaint ID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>03/12/2014</td>
      <td>Mortgage</td>
      <td>Other mortgage</td>
      <td>Loan modification,collection,foreclosure</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>M&amp;T BANK CORPORATION</td>
      <td>MI</td>
      <td>48382</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Referral</td>
      <td>03/17/2014</td>
      <td>Closed with explanation</td>
      <td>Yes</td>
      <td>No</td>
      <td>759217</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10/01/2016</td>
      <td>Credit reporting</td>
      <td>NaN</td>
      <td>Incorrect information on credit report</td>
      <td>Account status</td>
      <td>I have outdated information on my credit repor...</td>
      <td>Company has responded to the consumer and the ...</td>
      <td>TRANSUNION INTERMEDIATE HOLDINGS, INC.</td>
      <td>AL</td>
      <td>352XX</td>
      <td>NaN</td>
      <td>Consent provided</td>
      <td>Web</td>
      <td>10/05/2016</td>
      <td>Closed with explanation</td>
      <td>Yes</td>
      <td>No</td>
      <td>2141773</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10/17/2016</td>
      <td>Consumer Loan</td>
      <td>Vehicle loan</td>
      <td>Managing the loan or lease</td>
      <td>NaN</td>
      <td>I purchased a new car on XXXX XXXX. The car de...</td>
      <td>NaN</td>
      <td>CITIZENS FINANCIAL GROUP, INC.</td>
      <td>PA</td>
      <td>177XX</td>
      <td>Older American</td>
      <td>Consent provided</td>
      <td>Web</td>
      <td>10/20/2016</td>
      <td>Closed with explanation</td>
      <td>Yes</td>
      <td>No</td>
      <td>2163100</td>
    </tr>
    <tr>
      <th>3</th>
      <td>06/08/2014</td>
      <td>Credit card</td>
      <td>NaN</td>
      <td>Bankruptcy</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>AMERICAN EXPRESS COMPANY</td>
      <td>ID</td>
      <td>83854</td>
      <td>Older American</td>
      <td>NaN</td>
      <td>Web</td>
      <td>06/10/2014</td>
      <td>Closed with explanation</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>885638</td>
    </tr>
    <tr>
      <th>4</th>
      <td>09/13/2014</td>
      <td>Debt collection</td>
      <td>Credit card</td>
      <td>Communication tactics</td>
      <td>Frequent or repeated calls</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>CITIBANK, N.A.</td>
      <td>VA</td>
      <td>23233</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Web</td>
      <td>09/13/2014</td>
      <td>Closed with explanation</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>1027760</td>
    </tr>
  </tbody>
</table>
</div>

In [3]:
df = df[pd.notnull(df['Consumer complaint narrative'])]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 279250 entries, 1 to 1028527
Data columns (total 18 columns):
Date received                   279250 non-null object
Product                         279250 non-null object
Sub-product                     227067 non-null object
Issue                           279250 non-null object
Sub-issue                       180080 non-null object
Consumer complaint narrative    279250 non-null object
Company public response         136019 non-null object
Company                         279250 non-null object
State                           278188 non-null object
ZIP code                        276841 non-null object
Tags                            47776 non-null object
Consumer consent provided?      279250 non-null object
Submitted via                   279250 non-null object
Date sent to company            279250 non-null object
Company response to consumer    279249 non-null object
Timely response?                279250 non-null object
Consumer disputed?              164126 non-null object
Complaint ID                    279250 non-null int64
dtypes: int64(1), object(17)
memory usage: 40.5+ MB

In [5]:
col = ['Product', 'Consumer complaint narrative']
df = df[col]

In [6]:
df.columns

Index(['Product', 'Consumer complaint narrative'], dtype='object')

In [7]:
df.columns = ['Product', 'Consumer_complaint_narrative']
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Product</th>
      <th>Consumer_complaint_narrative</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Credit reporting</td>
      <td>I have outdated information on my credit repor...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Consumer Loan</td>
      <td>I purchased a new car on XXXX XXXX. The car de...</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Credit reporting</td>
      <td>An account on my credit report has a mistaken ...</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Debt collection</td>
      <td>This company refuses to provide me verificatio...</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Debt collection</td>
      <td>This complaint is in regards to Square Two Fin...</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
df.head()
df['category_id'] = df['Product'].factorize()[0]
print(df['Product'].factorize())
from io import StringIO
category_id_df = df[['Product', 'category_id']].drop_duplicates().sort_values('category_id')
category_to_id = dict(category_id_df.values)
x = {k: category_to_id[k] for k in list(category_to_id)[:2]}
print(x)
id_to_category = dict(category_id_df[['category_id', 'Product']].values)
df.head(10)

(array([0, 1, 0, ..., 2, 3, 2]), Index(['Credit reporting', 'Consumer Loan', 'Debt collection', 'Mortgage',
       'Credit card', 'Other financial service', 'Bank account or service',
       'Student loan', 'Money transfers', 'Payday loan', 'Prepaid card',
       'Money transfer, virtual currency, or money service',
       'Credit reporting, credit repair services, or other personal consumer reports',
       'Checking or savings account', 'Vehicle loan or lease',
       'Credit card or prepaid card', 'Virtual currency',
       'Payday loan, title loan, or personal loan'],
      dtype='object'))
{'Prepaid card': 10, 'Money transfer, virtual currency, or money service': 11}

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Product</th>
      <th>Consumer_complaint_narrative</th>
      <th>category_id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Credit reporting</td>
      <td>I have outdated information on my credit repor...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Consumer Loan</td>
      <td>I purchased a new car on XXXX XXXX. The car de...</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Credit reporting</td>
      <td>An account on my credit report has a mistaken ...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Debt collection</td>
      <td>This company refuses to provide me verificatio...</td>
      <td>2</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Debt collection</td>
      <td>This complaint is in regards to Square Two Fin...</td>
      <td>2</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Mortgage</td>
      <td>Started the refinance of home mortgage process...</td>
      <td>3</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Mortgage</td>
      <td>In XXXX, I and my ex-husband applied for a ref...</td>
      <td>3</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Credit reporting</td>
      <td>I have disputed several accounts on my credit ...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Mortgage</td>
      <td>Mortgage was transferred to Nationstar as of X...</td>
      <td>3</td>
    </tr>
    <tr>
      <th>36</th>
      <td>Credit card</td>
      <td>Was a happy XXXX card member for years, in lat...</td>
      <td>4</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
import matplotlib.pyplot as plt
fig = plt.figure(figsize=(8, 10))
df.groupby('Product').Consumer_complaint_narrative.count().plot.bar(ylim=0)
plt.show()

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(sublinear_tf=True, min_df=5, norm='l2', encoding='latin-1', ngram_range=(1, 2), stop_words='english')

features = tfidf.fit_transform(df.Consumer_complaint_narrative)
labels = df.category_id
features.shape

(279250, 561941)

In [11]:
from sklearn.feature_selection import chi2
import numpy as np

N = 2
for Product, category_id in sorted(category_to_id.items()):
  features_chi2 = chi2(features, labels == category_id)
  indices = np.argsort(features_chi2[0])
  feature_names = np.array(tfidf.get_feature_names())[indices]
  unigrams = [v for v in feature_names if len(v.split(' ')) == 1]
  bigrams = [v for v in feature_names if len(v.split(' ')) == 2]
  print("# '{}':".format(Product))
  print("  . Most correlated unigrams:\n       . {}".format('\n       . '.join(unigrams[-N:])))
  print("  . Most correlated bigrams:\n       . {}".format('\n       . '.join(bigrams[-N:])))

# 'Bank account or service':
  . Most correlated unigrams:
       . bank
       . overdraft
  . Most correlated bigrams:
       . overdraft fees
       . checking account

# 'Checking or savings account':
  . Most correlated unigrams:
       . overdraft
       . deposit
  . Most correlated bigrams:
       . direct deposit
       . checking account

# 'Consumer Loan':
  . Most correlated unigrams:
       . car
       . vehicle
  . Most correlated bigrams:
       . car loan
       . auto loan

# 'Credit card':
  . Most correlated unigrams:
       . macy
       . card
  . Most correlated bigrams:
       . american express
       . credit card

# 'Credit card or prepaid card':
  . Most correlated unigrams:
       . express
       . card
  . Most correlated bigrams:
       . american express
       . credit card

# 'Credit reporting':
  . Most correlated unigrams:
       . equifax
       . experian
  . Most correlated bigrams:
       . verify accounts
       . credit report

# 'Credit reporting, credit repair services, or other personal consumer reports':
  . Most correlated unigrams:
       . inquiries
       . equifax
  . Most correlated bigrams:
       . report understanding
       . mistakes appear

# 'Debt collection':
  . Most correlated unigrams:
       . collection
       . debt
  . Most correlated bigrams:
       . collect debt
       . collection agency

# 'Money transfer, virtual currency, or money service':
  . Most correlated unigrams:
       . bitcoin
       . coinbase
  . Most correlated bigrams:
       . xxxx coinbase
       . coinbase account

# 'Money transfers':
  . Most correlated unigrams:
       . moneygram
       . western
  . Most correlated bigrams:
       . money transfer
       . western union

# 'Mortgage':
  . Most correlated unigrams:
       . modification
       . mortgage
  . Most correlated bigrams:
       . mortgage company
       . loan modification

# 'Other financial service':
  . Most correlated unigrams:
       . certegy
       . lexington
  . Most correlated bigrams:
       . global client
       . lexington law

# 'Payday loan':
  . Most correlated unigrams:
       . castle
       . payday
  . Most correlated bigrams:
       . big picture
       . payday loan

# 'Payday loan, title loan, or personal loan':
  . Most correlated unigrams:
       . payday
       . borrowed
  . Most correlated bigrams:
       . title loan
       . big picture

# 'Prepaid card':
  . Most correlated unigrams:
       . prepaid
       . rushcard
  . Most correlated bigrams:
       . prepaid card
       . rush card

# 'Student loan':
  . Most correlated unigrams:
       . student
       . navient
  . Most correlated bigrams:
       . student loans
       . student loan

# 'Vehicle loan or lease':
  . Most correlated unigrams:
       . car
       . vehicle
  . Most correlated bigrams:
       . car xxxx
       . gm financial

# 'Virtual currency':
  . Most correlated unigrams:
       . counterfeiting
       . signup
  . Most correlated bigrams:
       . steps stated
       . bonus changed

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB

X_train, X_test, y_train, y_test = train_test_split(df['Consumer_complaint_narrative'], df['Product'], random_state = 0)
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(X_train)
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)

clf = MultinomialNB().fit(X_train_tfidf, y_train)

In [19]:
print(clf.predict(count_vect.transform(["This company refuses to provide me verification and validation of debt per my right under the FDCPA. I do not believe this debt is mine."])))

['Debt collection']

In [20]:
print(clf.predict(count_vect.transform(["I am disputing the inaccurate information the Chex-Systems has on my credit report. I initially submitted a police report on XXXX/XXXX/16 and Chex Systems only deleted the items that I mentioned in the letter and not all the items that were actually listed on the police report. In other words they wanted me to say word for word to them what items were fraudulent. The total disregard of the police report and what accounts that it states that are fraudulent. If they just had paid a little closer attention to the police report I would not been in this position now and they would n't have to research once again. I would like the reported information to be removed : XXXX XXXX XXXX"])))

[ 'Credit reporting, credit repair services, or other personal consumer reports']

In [21]:
df[df['Consumer_complaint_narrative'] == "This company refuses to provide me verification and validation of debt per my right under the FDCPA. I do not believe this debt is mine."]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Product</th>
      <th>Consumer_complaint_narrative</th>
      <th>category_id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <td>Debt collection</td>
      <td>This company refuses to provide me verificatio...</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
</div>

In [22]:
df[df['Consumer_complaint_narrative'] == "I am disputing the inaccurate information the Chex-Systems has on my credit report. I initially submitted a police report on XXXX/XXXX/16 and Chex Systems only deleted the items that I mentioned in the letter and not all the items that were actually listed on the police report. In other words they wanted me to say word for word to them what items were fraudulent. The total disregard of the police report and what accounts that it states that are fraudulent. If they just had paid a little closer attention to the police report I would not been in this position now and they would n't have to research once again. I would like the reported information to be removed : XXXX XXXX XXXX"]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Product</th>
      <th>Consumer_complaint_narrative</th>
      <th>category_id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>61</th>
      <td>Credit reporting</td>
      <td>I am disputing the inaccurate information the ...</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [23]:

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import LinearSVC

from sklearn.model_selection import cross_val_score


models = [
    RandomForestClassifier(n_estimators=200, max_depth=3, random_state=0),
    LinearSVC(),
    MultinomialNB(),
    LogisticRegression(random_state=0),
]
CV = 5
cv_df = pd.DataFrame(index=range(CV * len(models)))
entries = []
for model in models:
  model_name = model.__class__.__name__
  accuracies = cross_val_score(model, features, labels, scoring='accuracy', cv=CV)
  for fold_idx, accuracy in enumerate(accuracies):
    entries.append((model_name, fold_idx, accuracy))
cv_df = pd.DataFrame(entries, columns=['model_name', 'fold_idx', 'accuracy'])